<header class="header">
    <h1 class="header-heading">
        <a href="{% url 'contact:index' %}" class="header-link">
            Agenda
        </a>
    </h1>
    
    <nav class="menu">
        <ul class="menu-list">
            {% if user.is_authenticated %}
                <li class="menu-item">
                    <a class='menu-link' href="{% url 'contact:create' %}">
                        Create
                    </a>
                </li>
                <li class="menu-item">
                    <a class='menu-link' href="{% url 'contact:user/update' %}">
                        Profile
                    </a>
                </li>
                <li class="menu-item">
                    <a class='menu-link' href="{% url 'contact:user/logout' %}">
                        Logout
                    </a>
                </li>
            {% else %}
                <li class="menu-item">
                    <a class='menu-link' href="{% url 'contact:user/login' %}">
                        Login
                    </a>
                </li>
                <li class="menu-item">
                    <a class='menu-link' href="{% url 'contact:user/register' %}">
                        Register
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="search">
        <form action="{% url 'contact:search' %}" method="GET">
            <input 
                type="text" 
                class="search-input" 
                placeholder="Search"
                id="search"
                name="q"
                value="{{ request.GET.q.strip }}"
            />
        </form>
    </div>
</header>
